<%- include('header'); -%>
<div class="bg-white shadow overflow-hidden sm:rounded-lg">
  <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
    <div class="-ml-4 -mt-4 flex justify-between items-center flex-wrap sm:flex-no-wrap">
      <div class="ml-4 mt-4">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Candidate Information
        </h3>
        <p class="mt-1 text-sm leading-5 text-gray-500">
          Personal details and assignment status.
        </p>
      </div>
      <div x-data="{ open: false }" @keydown.escape="open = false" @click.away="open = false"
        class="relative inline-block text-left">
        <div>
          <button @click="open = !open"
            class="flex items-center text-gray-400 hover:text-gray-600 focus:outline-none focus:text-gray-600">
            <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z" />
            </svg>
          </button>
        </div>
        <div x-show="open" x-transition:enter="transition ease-out duration-100"
          x-transition:enter-start="transform opacity-0 scale-95"
          x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75"
          x-transition:leave-start="transform opacity-100 scale-100"
          x-transition:leave-end="transform opacity-0 scale-95"
          class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg">
          <div class="rounded-md bg-white shadow-xs">
            <div class="py-1">
              <a href="#"
                class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900">
                Update "Expires On"</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <dl>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dd class="text-sm leading-5 font-medium text-gray-500">
          Full name
        </dd>
        <dt class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
          <%= candidate.fullName %>
        </dt>
      </div>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dd class="text-sm leading-5 font-medium text-gray-500">
          Email address
        </dd>
        <dt class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
          <%=candidate.email%>
        </dt>
      </div>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dd class="text-sm leading-5 font-medium text-gray-500">
          Current Status
        </dd>
        <dt class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
          <%=candidate.status%>
        </dt>
      </div>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dd class="text-sm leading-5 font-medium text-gray-500">
          Expires On
        </dd>
        <dt class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
          <%=candidate.expiresOn%>
        </dt>
      </div>
      <% if (candidate.repository) {%>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dd class="text-sm leading-5 font-medium text-gray-500">
          Repository
        </dd>
        <dt class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
          <button type="button" onclick="openRepo()"
            class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-50 focus:outline-none focus:border-indigo-300 focus:shadow-outline-indigo active:bg-indigo-200 transition ease-in-out duration-150">
            <svg class="-ml-0.5 mr-2 h-4 w-4" viewBox="0 0 24 24" fill="none">
              <path
                d="M10 6H6C4.89543 6 4 6.89543 4 8V18C4 19.1046 4.89543 20 6 20H16C17.1046 20 18 19.1046 18 18V14M14 4H20M20 4V10M20 4L10 14"
                stroke="#5045CD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            Repository
          </button>
        </dt>
      </div>
      <% } %>
      <% if (candidate.pullRequest) {%>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dd class="text-sm leading-5 font-medium text-gray-500">
          Pull Request
        </dd>
        <dt class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
          <button type="button" onclick="openPR()"
            class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-50 focus:outline-none focus:border-indigo-300 focus:shadow-outline-indigo active:bg-indigo-200 transition ease-in-out duration-150">
            <svg class="-ml-0.5 mr-2 h-4 w-4" viewBox="0 0 24 24" fill="none">
              <path
                d="M10 6H6C4.89543 6 4 6.89543 4 8V18C4 19.1046 4.89543 20 6 20H16C17.1046 20 18 19.1046 18 18V14M14 4H20M20 4V10M20 4L10 14"
                stroke="#5045CD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            Pull Request
          </button>
        </dt>
      </div>
      <% } %>
      <% if (candidate.totalScore) {%>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dd class="text-sm leading-5 font-medium text-gray-500">
          Total Score
        </dd>
        <dt class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
          <% if (candidate.totalScore >= 80) {%>
          <span
            class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium leading-5 bg-green-100 text-green-800">
            <%=candidate.totalScore%>
          </span>
          <% } %>
          <% if (candidate.totalScore >= 60 && candidate.totalScore < 80) {%>
          <span
            class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium leading-5 bg-yellow-100 text-yellow-800">
            <%=candidate.totalScore%>
          </span>
          <% } %>
          <% if (candidate.totalScore >= 40 && candidate.totalScore < 60) {%>
          <span
            class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium leading-5 bg-orange-100 text-orange-800">
            <%=candidate.totalScore%>
          </span>
          <% } %>
          <% if (candidate.totalScore < 40) {%>
          <span
            class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium leading-5 bg-red-100 text-red-800">
            <%=candidate.totalScore%>
          </span>
          <% } %>
        </dt>
      </div>
      <% } %>
    </dl>
  </div>
</div>
<br />

<div class="bg-white shadow overflow-hidden sm:rounded-lg">
  <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
    <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-no-wrap">
      <div class="ml-4 mt-2">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Scorecard
        </h3>
        <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
          <% if (candidate.scorecard) { %>
            Results breakdown.
          <% } else { %>
            Available when assignment is completed.
          <% } %>
        </p>
      </div>
      <% if (isInterviewer && !candidate.scorecard) { %>
          <div class="ml-4 mt-2 flex-shrink-0">
            <span class="inline-flex rounded-md shadow-sm">
              <button type="button" onclick="window.location.href = '/scorecard/<%=candidate.email%>';"
                      class="relative inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-700 active:bg-indigo-700">
                Create scorecard
              </button>
            </span>
          </div>
      <% } %>
      <% if (isInterviewer && candidate.scorecard) { %>
            <div class="ml-4 mt-2 flex-shrink-0">
            <span class="inline-flex rounded-md shadow-sm">
              <button type="button" onclick="window.location.href = '/scorecard/<%=candidate.email%>';"
                      class="relative inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-700 active:bg-indigo-700">
                Edit scorecard
              </button>
            </span>
            </div>
      <% } %>
    </div>
  </div>
  <div class="bg-white shadow overflow-hidden sm:rounded-md">
    <% if (candidate.scorecard) { %>
    <ul>
      <% candidate.scorecard.forEach( (row) => { %>
      <li x-data="{ openPanel: 0 }">
        <a href="javascript:void(0)" @click="openPanel = (openPanel === 1 ? null : 1)"
          class="block hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out">
          <div class="px-4 py-4 sm:px-6">
            <div class="flex items-center justify-between">
              <div class="text-sm leading-5 font-medium text-indigo-600 truncate">
                <%=row.task%>
              </div>
              <div class="ml-2 flex-shrink-0 flex">
                <% if (row.result === "passed") { %>
                  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                    Passed
                  </span>
                <% } else { %>
                  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800">
                    Failed
                  </span>
                <% }  %>
              </div>
            </div>
            <div class="mt-2 sm:flex sm:justify-between">
              <div class="sm:flex">
                <% row.skills.forEach( (skill) => { %>
                <div class="mr-6 flex items-center text-sm leading-5 text-gray-500">
                  <%=skill%>
                </div>
                <% } ); %>
              </div>
              <div class="mt-2 flex items-center text-sm leading-5 text-gray-500 sm:mt-0">
                <svg class="h-6 w-6 transform  text-gray-400" :class="{ '-rotate-180': openPanel === 1 }"
                  stroke="currentColor" fill="none" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke="currentColor" stroke-linejoin="round" stroke-width="2"
                    d="M19 9l-7 7-7-7" />
                </svg>
                <span>
                  Comments
                </span>
              </div>
            </div>
            <div class="mr-6 flex items-center text-sm leading-5 text-gray-700">
              <div class="mt-2 sm:flex sm:justify-between" x-show="openPanel === 1">
                <%=row.comments%>
              </div>
            </div>
          </div>
        </a>
      </li>
      <% } ); %>
    </ul>
    <% } %>
  </div>
</div>

<script>
  function openRepo() {
    window.open("<%=candidate.repository%>", '_blank');
  }
  function openPR() {
    window.open("<%=candidate.pullRequest%>", '_blank');
  }
</script>
<%- include('footer'); -%>